:root {
    --bg-color:#b19e85;
    --text-color: #000000;
    --card-bg: #8d6e51;
    --b-bg:  #541308;
}
.dark-mode {
    --bg-color:#2d1409;
    --text-color:#8d6e51;
    --card-bg: #4a1107;
    --b-bg:/*#B29E85*/#8d6e51;
}
body{
    background-color: var(--bg-color);
    padding: 0%;
    margin: 0%;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}
.welcome{
    margin: 30px;
    text-shadow: 5px 5px 20px #00000f;
}
.con {
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin: 30px 20%;
}
.fan , .ph , .pr ,.H , .ro , .si , .cr {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 300px;
}
.fan .im video ,.ro .im video ,.cr .im video ,.H .im video ,.ph .im video ,.pr .im video ,.si .im video{
    object-fit:cover;
    display:flex;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: none;
}
.fan:hover ,.ro:hover ,.cr:hover ,.H:hover ,.ph:hover ,.pr:hover ,.si:hover{
    box-shadow:  10px 5px 11px -10px #00000f;
    display: flex;
    background-color: var(--card-bg);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 5px;
    max-height: 300px;
} 
.fan:hover .im img ,.ro:hover .im img ,.cr:hover .im img ,.H:hover .im img ,.ph:hover .im img ,.pr:hover .im img ,.si:hover .im img{
    display: none;
}
.fan:hover .genre ,.cr:hover .genre ,.ph:hover .genre ,.pr:hover .genre ,.ro:hover .genre ,.si:hover .genre ,.H:hover .genre{
    display: none;
}
.fan:hover .im ,.ro:hover .im ,.cr:hover .im ,.ph:hover .im ,.pr:hover .im ,.H:hover .im ,.si:hover .im{
    margin: 2%;
    overflow: hidden;
    width: 50%;
    aspect-ratio: 2 / 3;
    height: 96%;
    border-radius: 10px;
    max-height: 290px;
    margin:2% 25%;
}
.fan:hover .im video ,.ro:hover .im video , .cr:hover .im video ,.pr:hover .im video ,.ph:hover .im video ,.si:hover .im video ,.H:hover .im video{
    object-fit:cover;
    display:flex;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 0.3s;
    visibility: visible;
    /* pointer-events: none; */
} 
.con a {
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content:center ;
    padding: 10% 0; 
    transition: .3s;

}
.fan{
    background-image: linear-gradient(to right , #98789D, #535294) ;
    box-shadow:  10px 5px 11px -10px #00000f;
}
.cr{
    background-image: linear-gradient(to right , #647066, #0B0B0B) ;
    box-shadow:  10px 5px 11px -10px #00000f;
}
.si{
    background-image: linear-gradient(to right , #C7D9E5, #2F4157) ;
    box-shadow:  10px 5px 11px -10px #00000f;
}
.pr{
    background-image: linear-gradient(to right , #22584C, #051e18) ;
    box-shadow:  10px 5px 11px -10px #00000f;
}
.ro{
    background-image: linear-gradient(to right , #F0B3BA, #C60726) ;
    box-shadow:  10px 5px 11px -10px #00000f;
}
.H{
    background-image: linear-gradient(to right , #DEBB83, #9D6536) ;
    box-shadow:  10px 5px 11px -10px #00000f;
}
.ph{
    background-image: linear-gradient(to right , #A5856E, #1f150f) ;
    box-shadow:  10px 5px 11px -10px #00000f;
}
.fan:hover , .ph:hover , .pr:hover ,.H:hover , .ro:hover , .si:hover , .cr:hover{
    transform: scale(1.03);
    box-shadow:  13px 13px 11px -10px #00000f;
}
.grid{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    justify-content: center;
    margin: 1% 10%;
}
.book{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto auto;
    background-color: var(--card-bg);
    gap: 10px;
    justify-content: center;
    align-items:flex-start;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 5px;
    height: 250px;
    
}
.book:hover{
    transform: scale(1.03);
    box-shadow:  13px 13px 11px -10px #00000f;
}
.price{
    grid-row: 1;
    grid-column: 2;
    align-content: center;
    justify-content: center;
    width: 70%;
    text-align: center; 
    font-weight: bolder;
    font-size: 24px;
    align-self: center;
    justify-self: center;
    margin: auto;
}
.cover{
    margin: 2% 4% 2%;
    overflow: hidden;
    grid-row: 1 / span 2;
    grid-column: 1;
    align-self: center;
    width: 90%;
    height: 94%;
    border-radius: 10px;
    aspect-ratio: 2 / 3;
}
.book img{
    object-fit:cover;
    display:flex;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.b{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 92%;
    justify-content: center;
    align-content: center;
    padding:0% 20% ;
    padding-bottom:5px ;
    /* max-width: 300px; */
    height: 100%;
    font-size: medium;
}
.book button{
    
    width: 60%;
    border-radius: 10px;
    background-color: var(--b-bg);
    color: whitesmoke;
    height: 40px;
    cursor: pointer;
    justify-self:center;
    font-size: medium;
    font-weight: bold;
}
.book button:hover{
    transform: scale(1.03);
    box-shadow:  0px 13px 11px -10px #00000f;
}
.price{
    padding:0%;
    display: flex;
    margin-bottom: 2%;
}
.price p{
    padding:0%;
    margin: 0%;
    font-weight: bold;
}